
/* 레이어 */
.wrap{
    width: 1700px;
    margin: 0 auto;
}
.menu-wrap{
    width: 1300px;
    margin: 0 auto;
}
header + *{
    padding-top: 89px;
}

/* 폰트 */
html{
    font-family: "Noto Sans KR", system-ui;
}
.caprasimo{
    font-family: "Caprasimo", system-ui;
}
.eb-garamond{
    font-family: "EB Garamond", system-ui;
    font-style: italic;
    font-weight: 500;
}



/* 헤더 */
header{
    z-index: 999;
    background-color: #fff;
    position: fixed;
    padding: 20px 0;
    box-sizing: border-box;
    width: 100%;
}
.h-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header h1 a{
    display: block;
    text-indent: -99999px;
    background: url('/images/gloer-logo.png') no-repeat;
    background-size: contain;
    width: 162px;
    height: 49px;
}
header nav > ul{
    display: flex;
    justify-content: space-between;
    
}
header nav > ul > li{
    padding: 0 35px;
}
header nav > ul li:last-of-type{
    position: relative;
}
header nav > ul > li > a{
    font-weight: 500;
}
header nav > ul > li > a:hover{
    color: #FF621E;
}
.gnb{
    display: none;
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #FF621E;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
}
.gnb li:not(:last-of-type){
    margin-bottom: 25px;
}
.gnb li a{
    color: #fff;
}
.h-icon{
    display: flex;
}
.h-icon li{
    margin-left: 20px;
}
.h-icon li i{
    font-size: 24px;
    color: #333;
}
.h-icon li i:hover{
    color: #FF621E;
}


/* 푸터 */
footer{
    background-color: #FFF6C3;
    padding: 60px 0;
}
.f-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.fnb{
    display: flex;
}
.fnb li:not(:first-of-type){
    margin-left: 40px;
}
.fnb li a{
    font-weight: 500;
}
.fnb li a:hover{
    color: #FF621E;
}
.f-icon{
    display: flex;
}
.f-icon li{
    margin-left: 20px;
}
.f-icon li i{
    font-size: 24px;
    color: #333;
}
.f-icon li i:hover{
    color: #FF621E;
}
.f-bottom{
    display: flex;
    justify-content: space-between;
}
.b-left > div:not(:last-of-type){
    margin-bottom: 20px;
}
.b-left > div *{
    display: inline-block;
    color: #555;
}
.b-left > div > *:not(:first-child){
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #555;
}
.f-bottom h1{
    align-self: flex-end;
}
.f-bottom h1 a{
    display: block;
    text-indent: -9999px;
    background: url('/images/gloer-logo.png') no-repeat;
    background-size: contain;
    width: 160px;
    height: 50px;
}
